@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    line-height:1.5;
    color:#333;
    background-color: #a1c3ff;
}

h1,h2{
    margin-bottom:15px;
}

ul{
    list-style:none;
    padding:0;
    margin:0;
}
.container{
    max-width:1100px;
    margin:0 auto;
    padding:0 30px;
}

/* Navbar */

.navbar{
    background-color:#3474e6;
    color:#fff;
    height:60px;
}

.navbar .logo{
    font-size:x-large;
    font-weight:bold;
}

.navbar a{
    color:#fff;
    text-decoration: none;
    font-size:18px;
    font-weight:bold;
}

.navbar a:hover{
    color:lightblue
}

.navbar .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

.navbar ul{
    display:flex;
}

.navbar ul li{
    margin-left:20px;
}

/* Hamburger Code */
.menu{
    display:none;
}

.bar{
    background-color: white;
    height:5px;
    width:50px;
    margin:10px 5px;
    border-radius: 5px;
    transition:0.2s ease;
}

/* this code is just for design */
.middle{
    width:60%;
}

.icon .top{
    transform:translateY(15px) rotate(45deg);
}

.icon .middle{
    opacity:0;
}

.icon .bottom{
    transform:translateY(-15px) rotate(-45deg);
}


/* Header */
.header{
    background-color:#0151cc;
    color:#fff;
    min-height:400px;
    margin-bottom:20px;
}

.header h1{
    font-size:3rem;
    font-weight:bold;
    line-height:1.2;
}

.header img{
    max-width:400px;
}

.header .container{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.boxes .container{
    display:flex;
    justify-content:space-between;
}

.box{
    flex:1;
    background-color:#0a51cc;
    color:#fff;
    border-radius:10px;
    box-shadow: -8px 12px 32px 1px rgba(0,0,0,0.8);
    margin: 20px;
    padding:10px 25px;
}

/* Footer */

.footer{
    background-color:#3474e6;
    color:#fff;
    height:120px;
    margin-top: 20px;
}

.footer .container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

/* Media Queries */
@media (max-width: 768px)
{
    .nav{
        position: fixed;
        /* left:-100%; */
        top:60px;
        flex-direction: column;
        background-color: white;
        width:100%;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    .nav a{
        color: #3474e6;
    }

    /* When hamburger menu is clicked this class is added to ul-nav so that left will become '0' from "-100%"*/
    .show{
        left:0;
    }
    .nav li{
        margin:16px; 
    }
    .navbar .menu{
        float:right;
        display: block;
    }

    .header .container{
        flex-direction: column;
        padding-top:20px;
        text-align:center;
    }

    .boxes .container{
        display:block;
    }
}